.section2{
    background-color: #000000;
    position: relative;
    width: 100%;
    min-height: 130vh;
    overflow: hidden;

    &__mapple1 {
        position: absolute;
        top: 52%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 30rem;
        height: 30rem;
        opacity: 0.8;
    }
    &__mapple2 {
        position: absolute;
        top: 54%;
        left: 45%;
        transform: translate(-50%, -50%);
        width: 30rem;
        height: 30rem;
        opacity: 0.8;
    }
    &__mapple3 {
        position: absolute;
        top: 56%;
        left: 30%;
        transform: translate(-50%, -50%);
        width: 30rem;
        height: 30rem;
        opacity: 0.8;
    }
    &__mapple4 {
        position: absolute;
        top: 58%;
        left: 60%;
        transform: translate(-50%, -50%);
        width: 30rem;
        height: 30rem;
        opacity: 0.8;
    }
    &__mapple5 {
        position: absolute;
        top: 60%;
        left: 70%;
        transform: translate(-50%, -50%);
        width: 30rem;
        height: 30rem;
        opacity: 0.8;
    }
}